@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
}

nav {
  background: hsl(217, 28%, 15%);
  height: 80px;
  width: 100%;
  padding: 20px;
  padding-top: 28px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 14px;
}

a.active,
a:hover {
  transition: 0.5s;
}

@media (min-width: 1200px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 14px;
  }
}

body {
  background: hsl(218, 28%, 13%);
  font-size: 14px;
}

.image {
  padding: 20%;
  padding-bottom: 0;
  padding-top: 0;
}

h1 {
  color: white;
  text-align: center;
  max-width: 640px;
  margin: auto;
  font-family: "open sans", sans-serif;
  font-weight: 400 700;
}

.gett {
  background-image: linear-gradient(to right, hsl(176, 68%, 54%), hsl(198, 60%, 50%));
  border: none;
  padding: 10px;
  border-radius: 45px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  display: block;
  margin: 30px auto;
  width: 18%;
  height: 40px;

}

p.important {
  color: white;
  text-align: center;
  max-width: 400px;
  margin: auto;
  font-family: "open sans", sans-serif;
  font-weight: 400;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin: auto;
  gap: 80px;
}

.individual img {
  margin: auto;
  display: block;
  height: 70px;
}

.individual h2 {
  color: white;
  text-align: center;
}

.individual p {
  color: white;
  text-align: center;
}

.stay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  align-items: center;
  margin-bottom: 150px;
}

.stayme h2 {
  color: white;
  text-align: left;

}

.stayme p {
  color: white;
  text-align: left;
}

.stay img {
  max-width: 100%;
}

.stayme p a {
  text-decoration: underline;
  color: rgb(89, 236, 236);
}

@media screen and (max-width:1200px) {
  .CEO {
    margin: 40%;
  }

}

.CEO {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 27px;
  color: white;
  margin-bottom: 120px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.CEOcom {
  display: flex;
  gap: 2px;
}

.CEOimage img {
  height: 20px;
  border-radius: 200px;
}

.CEOhead {
  display: flex;
  flex-direction: column;
}

.CEO1 {
  background: hsl(219, 30%, 18%);
  padding: 20px;
}

.quote {
  max-width: 30px;
  display: block;
  position: absolute;
  top: 270%;
  left: 100px;
  z-index: 0;
}

.intro-email {
  max-width: 60%;
  margin: 0 auto;
  background-color: hsl(217, 28%, 15%);
  position: relative;
  top: 170px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  border-radius: 5px;

}

@media screen and (min-width:1200px) {
  .intro-email {
    max-width: 35%;

  }
}

.intro-email h5 {
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-align: center;

}

.intro-email p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
  line-height: 1.5;
  margin: 20px 0 20px 0;
  text-align: center;
}

input[type=email] {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  outline: none;
  border: none;
}

@media screen and (min-width:1200px) {
  input[type=email] {
    width: 100%;
    border-top: 500px;
  }
}

.it {
  font-size: 12px;
  cursor: pointer;
  width: 50%;

}

footer {
  background-color: hsl(216, 53%, 9%);
  padding: 120px 0;
}

.footer-container {
  padding: 120px 0;
}

@media screen and (min-width:1200px) {
  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
  }
}

@media screen and (min-width:1200px) {
  .address {
    max-width: 400px;
  }
}

.address {
  padding: 20px;
}

.footer-logo {
  max-width: 40% !important;
  padding: 10px;
}

.footer-logo img {
  max-width: 100% !important;
}

.address p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  opacity: 0.8;


}

.locate {
  display: flex;
  margin-top: 40px;
}

.fa-location-dot {
  margin-right: 20px;
  color: hsl(0, 0%, 100%);
}

.contact {
  padding-left: 20px;
}

.contact p {
  color: hsl(0, 0%, 100%);
  line-height: 3;
}

.contact-image {
  margin-right: 10px;
}

.about-us {
  padding-left: 20px;
}

.about-us h5 {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
  padding-top: 30px;
}

.about-us a {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  color: white;
}

.contact-us {
  padding-left: 20px;
}

.contact-us h5 {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
  padding-top: 30px;
}

@media screen and (min-width:1200px) {
  .contact-us h5 {
    padding-top: 0;
  }
}

.contact-us a {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  color: white;
}

.social-icon {
  position: relative;
  max-width: 35%;
  left: 33%;
  top: 220px;

}

.social-icon a {
  padding: 5px;
}

.social-icon a i {
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-size: 10px;
}

.social-icon a i:hover {
  border: 1px solid hsl(176, 68%, 64%);
}

@media screen and (min-width:1200px) {}